<div class="container-fluid" data-speed="6">
    <div class="container">
        <div class="row top-padding">
            <div class="col-sm-3">
                <a href="/"><img src="/assets/images/logo.png" alt="logo" class="logo" /></a>
            </div>
            <div class="col-sm-9 menu-responsive">
                <div class="col-sm-12 responsive-div">
                    <ul class="sing-up-sing-in-ul pull-right">
                        <li><a routerLink="/signup">Sign up</a></li>
                        <li> | </li>
                        <li><a routerLink="/signin">Sign in</a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-12 responsive-div">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle">
                            Menu <span class="icon-bar glyphicon glyphicon-menu-hamburger"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <ul class="main-menu">
                        <li routerLinkActive="active"><a routerLink="/">Home</a></li>
                        <li routerLinkActive="active"><a routerLink="/help">Help</a></li>
                        <li routerLinkActive="active"><a routerLink="/about">About </a></li>
                        <li routerLinkActive="active"><a routerLink="/contact">Contact</a></li>
                        <li routerLinkActive="active"><a routerLink="/blog">Blog</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
