<!--banner part-->
<div class="container-fluid padding-zero text-center banner-common">
    <img src="/assets/images/login.jpg" class="banner-responsive" />
</div>
<div class="container-fluid login-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4 text-right">
                <form action="">
                    <div class="form-group">
                        <input type="text" class="form-control input-text-2" placeholder="Username" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control input-text-2" placeholder="Email" />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control input-text-2" placeholder="Password" />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control input-text-2" placeholder="Confirm Password" />
                    </div>
                    <div class="form-group">
                        <input type="submit" class="banner-link" value="Create Account" />
                    </div>
                </form>
                <ul class="text-center forget-password">
                    <li><a href="/forgot">Forget Password</a></li>
                    <li> | </li>
                    <li><a href="/signin">Login</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
            </div>
        </div>
    </div>
</div>
