.ds_draggable_item {
    /* min-height:330px; */
}

.ui-state-highlight {
    min-height: 400px;
}


/* disable resize */

.btn-drag {
    display: none;
}

[date-layout-size="s"] .zoom-box-content-area {
    height: 50px;
}

[date-layout-size="m"] .zoom-box-content-area {
    height: 150px;
}

[date-layout-size="l"] .zoom-box-content-area {
    height: 200px;
}

.grid-stack {
    clear: both;
}

.zoom-box-style {
    margin-bottom: 0px;
    min-height: 0px;
}

.draggable_drig_stat {
    padding: 15px;
}

.zoom-box-style .zoom-box-style {
    box-shadow: none;
}

.grid-stack > .grid-stack-item > .ui-resizable-se,
.grid-stack > .grid-stack-item > .ui-resizable-sw {}

.zoom-expanded .grid-stack-item-content.zoom-box-style {
    position: fixed;
    top: 40px;
    left: 20px;
    right: 20px;
}

#wid_gene_search_filter {
    padding: 20px 0;
}

#wid_gene_search_filter label {
    width: 100%;
}
