body {
    font-family: 'Open Sans', sans-serif;
    background-color: #e5e9ec!important;
    /*padding-top: 40px;*/
}


/* Gmail style scrollbar */

::-webkit-scrollbar {
    width: 12px
}

::-webkit-scrollbar-thumb {
    border-width: 1px 1px 1px 2px
}

::-webkit-scrollbar-track {
    border-width: 0
}

::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}

::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: solid transparent;
    border-width: 0 0 0 1px;
    background-color: rgba(0, 0, 0, .05);
    box-shadow: inset 1px 0 0 rgba(0, 0, 0, .2);
}

::-webkit-scrollbar-track:horizontal {
    border-width: 1px 0 0
}

::-webkit-scrollbar-track:hover {
    background-color: rgba(0, 0, 0, .05);
    box-shadow: inset 1px 0 0 rgba(0, 0, 0, .5);
}

::-webkit-scrollbar-track:horizontal:hover {
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, .1)
}

::-webkit-scrollbar-track:active {
    background-color: rgba(0, 0, 0, .05);
    box-shadow: inset 1px 0 0 rgba(0, 0, 0, .14), inset -1px 0 0 rgba(0, 0, 0, .07);
}

::-webkit-scrollbar-track:horizontal:active {
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, .14), inset 0 -1px 0 rgba(0, 0, 0, .07)
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .2);
    background-clip: padding-box;
    border: solid transparent;
    border-width: 1px 1px 1px 2px;
    min-height: 28px;
    padding: 100px 0 0;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
}

a:hover,
a.focus,
a:active,
a:visited {
    text-decoration: none!important;
    outline: 0 !important;
}

a,
a img,
button,
input,
textarea {
    outline: 0 !important;
}

.modal-dialog.smaller-modal {
    max-width: 400px;
    margin: 30px auto;
}

.modal-dialog.xxl-modal {
    min-width: 80%;
    margin: 30px auto;
}

.dropdown-menu .divider {
    height: 1px!important;
    margin: 5px 0!important;
    overflow: hidden;
    background-color: #e5e5e5;
}

input[type=checkbox],
input[type=radio] {
    float: left;
    margin-right: 10px!important;
}

.dashboard {
    margin: 0px;
    padding: 0px;
    /*position:fixed;*/
    /*height:100%;*/
    overflow: auto;
    overflow-x: hidden;
    /*width:100%;*/
    background-color: #e5e9ec;
}

.dashboard-inner {
    position: relative;
}

.tab-content h3 {
    margin-top: 0;
}

.dashboard-top-menu {
    margin: 0px;
    padding: 2px 0px;
    background: #FFF;
    max-height: 60px;
    display: block;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    height: auto;
    z-index: 9999;
    transition: all .2s ease-in;
}

body.sticky-header {
    /*padding-top: 39px;*/
}

.sticky-header .dashboard-top-menu {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    transition: all .2s ease-in;
}

.top-menu {
    position: relative;
}

.dashboard-top-menu:after {
    content: "";
    height: 0;
    display: block;
    clear: both;
}

.user-status {
    float: right;
    margin-top: 2px!important;
}

.dashboard-top-right ul li ul {
    left: -50%;
    box-shadow: 0px 7px 10px #999;
}

.user-status .dropdown-menu>li>a {
    padding: 3px 15px;
}

.dashboard-top-right ul li ul li:last-child {
    border-bottom: none;
}

.dashboard-logo {
    max-width: 252px;
    min-width: 202px;
    display: inline-block;
    float: left;
    text-align: left!important;
    padding-left: 20px;
}

.dashboard-logo img {
    max-height: 35px;
}

.dashboard-top-toggle {
    max-width: 52px;
    min-width: 52px;
    text-align: left;
    display: inline-block;
    float: left;
    padding-left: 20px;
}

.dashboard-top-right {
    /* max-width: 472px; */
    min-width: 472px;
    float: right;
    position: relative;
    display: block;
    width: calc(100% - 270px);
}

.author-icon {
    border-radius: 50%;
    overflow: hidden;
    width: 42px;
    height: 42px;
}

.author-icon img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.dashboard-top-right ul {
    margin: 0px;
    padding: 0px;
    display: block;
}

.dashboard-top-right ul li {
    list-style: none;
    display: inline-block;
    padding: 0px 5px 0 0;
    position: relative;
    margin: 0px;
}

.dashboard-top-right ul li i {
    padding: 0px 3px;
}

.dashboard-top-right ul li ul {
    background: #fff;
    position: absolute;
    display: none;
    z-index: 4000;
    width: 180px;
    top: 36px;
    right: 0;
    border-radius: 5px;
    box-shadow: 0px 7px 10px #000;
    margin-right: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.dashboard-top-right ul li ul li {
    display: block;
    border-bottom: 1px solid #ccc;
    padding: 3px 0px;
}

.top-toggle-btn {
    background-color: transparent;
}

.top-toggle-btn .fa {
    font-size: 22px;
    float: right;
    padding-left: 15px;
}

.top-toggle-btn {
    /*background:url(/assets/images/menu-btn.png);*/
    border: 0px;
    outline: 0;
    width: 27px;
    height: 25px;
    margin-top: 5px;
    background-position: 100%;
}

.top-toggle-btn:hover {
    color: #337ab7;
    /*background:url(/assets/images/manu-bg-h.png);*/
    background-position: 100%;
}

.dashboard-top-right ul li a {
    font-size: 14px;
    font-weight: normal;
    display: block;
    padding-top: 7px;
    cursor: pointer;
    padding-bottom: 6px;
    margin-bottom: -2px;
    padding-left: 10px;
    padding-right: 10px;
}

.dashboard-top-right ul li a:hover {
    text-decoration: none;
    background: none;
    text-decoration: none;
    border-bottom: 3px solid #f48618;
    color: #f48618;
}

ul li.user-status a:hover {
    border-bottom: none;
}

.user-drop-panel:hover {
    color: #008fc5;
}

.user-drop-panel {
    cursor: pointer;
}

.top-toggle {
    position: relative;
}

.top-toggle ul {
    margin: 0px;
    position: absolute;
    top: 46px;
    left: 0px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #000;
    padding: 10px;
    background: url(/assets/images/bg-menu.png);
    width: 100%;
    display: none;
}

.top-toggle ul li {
    margin: 0px;
    padding: 00px 0px;
    list-style: none;
}

.top-toggle ul li:hover,
.top-toggle ul li a:hover {
    background-color: #008fc5;
    color: #fff;
}

.top-toggle ul li a {
    padding: 10px;
    color: #000;
    float: left;
    width: 100%;
}

.user-toggle {
    display: none;
}

.btn-group .dropdown-menu li {
    padding-left: 15px;
}

.btn-group .dropdown-menu li a {
    padding-left: 0;
}


/**********************************left-part*******************************************************/

.btn-collapsible {
    float: right;
    margin-right: 10px;
    color: #ccc;
    font-size: 14px!important;
    padding-top: 2px!important;
}

.light-green {
    cursor: pointer;
}

.light-green .panel-saved-content {
    display: block;
}

.light-green.panel-closed .panel-saved-content {
    display: none;
}

.dashboard-left-panel {
    position: fixed !important;
    overflow: hidden;
    overflow-x: hidden;
    background: #0aa699;
    height: 100%;
    z-index: 1;
    max-width: 252px;
    min-width: 252px;
    display: inline-block;
    float: left;
}

.Dashboard-tab-part .tab-content {
    /*margin-right: -15px!important;*/
}

.dashboard-left-panel h3 {
    color: #ffffff;
    font-size: 17px;
    font-weight: normal;
    margin: 0px;
    padding: 10px 0px;
    font-weight: 400;
    text-align: left;
    padding-left: 20px;
    background: rgba(0, 0, 0, .4);
}


/************************************************/

#show-menu {
    display: none;
}

.light-blue {
    background-color: #008fc5;
    position: relative;
    margin-top: 0px;
}

.light-green {
    background-color: #0aa699;
    position: relative;
    margin-top: 0px;
}

.gene-list .checkbox,
.gene-list .radio {
    position: relative;
    display: block;
    margin-top: 0;
    margin-bottom: 0;
}

ul.icon-menu {
    margin: 0px;
    padding: 0px;
    background: url(/assets/images/manu-bg.png);
    text-align: left;
    padding-left: 10px;
}

ul.icon-menu li {
    margin: 0px;
    padding: 1px 7px;
    display: inline-block;
    text-align: center;
}

ul.icon-menu li a {
    display: block;
    cursor: pointer;
}

ul.icon-menu li a:hover,
ul.icon-menu li a:focus {
    color: #ccc;
    text-decoration: none;
}

ul.icon-menu li {
    margin: 0px 9px 0 0;
    padding: 1px 7px;
    display: block;
    text-align: left;
}

ul.icon-menu li span {
    clear: both;
    color: #f2f2f2;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
}

ul.icon-menu li i {
    clear: both;
}

ul.gene-list {
    margin: 0px;
    padding: 0px;
    padding-bottom: 0px;
    height: 200px;
    /*max-height: 215px;*/
    overflow: auto;
}

ul.gene-list.saved-gene-list {
    max-height: 100%;
    overflow: auto;
    height: 200px;
}

li.select-all {
    background-color: rgba(0, 0, 0, .15) !important;
}

.gene-list>li {
    position: relative;
}

.gene-list>li .action-menu {
    display: none;
    position: absolute;
    right: 0px;
    top: 2px;
}

.gene-list>li:hover .action-menu {
    display: block;
}

.gene-list>li.select-all:hover .action-menu {
    display: none;
}

.gene-list>li .action-menu .btn {
    padding: 0px 3px!important;
    background: transparent;
    margin-top: -5px;
}

ul.gene-list li {
    padding: 7px 10px 2px 20px;
    cursor: pointer;
    margin: 0px;
    border-bottom: 1px solid;
    border-color: rgba(255, 255, 255, .2);
    /*background:url(/assets/images/list-icon.png) no-repeat 15px center, url(/assets/images/border-bg.png) no-repeat left bottom;*/
}

ul.first-gene li:hover {
    background-color: #036d95 !important;
}

.light-green ul.gene-list li {
    cursor: pointer;
}

.light-green ul.gene-list li:hover {
    background-color: #0c7e74;
}

ul.gene-list li:first-child {
    /*background:url(/assets/images/square.png) no-repeat 15px center,url(/assets/images/border-bg.png) no-repeat left bottom, url(/assets/images/manu-bg.png);*/
}

ul.gene-list li:last-child {
    /*background:url(/assets/images/list-icon.png) no-repeat 15px center;*/
}

ul.gene-list li,
ul.gene-list li a {
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
}

.user-toggle {
    margin-right: 20px;
}

.user-toggle .top-toggle-btn {
    border-radius: 5px;
    color: #000;
    padding: 0;
    width: auto;
    height: 26px;
    background-repeat: no-repeat;
    text-align: right;
    background-position: 100%;
    white-space: nowrap;
}

.dashboard-left-panel .btn-group .btn {
    border-radius: 0;
}


/****************************************************dashboard-right-panel*********************************************/

.grid-stack > .grid-stack-item > .grid-stack-item-content {
    overflow-x: hidden!important;
    overflow-y: hidden!important;
}

.dashboard-right-panel {
    margin: 0px;
    padding: 0px;
    margin-left: 258px;
    position: relative !important;
    /*overflow:auto;*/
    padding-bottom: 30px;
    /*height:100% !important;*/
}

.zoom-box-content-area {
    overflow: hidden;
    scroll-behavior: smooth;
    overflow-x: hidden;
    padding: 0;
}

.zoom-box-content-area img {
    height: auto;
}

.dashbord-content {
    position: relative;
    margin: 0px;
    padding: 5px 0px;
}

.dashbord-content:after {
    content: "";
    clear: both;
    height: 0;
    display: block;
}

.tab-content {
    margin-top: 15px;
    padding-bottom: 10px;
}

.Dashboard-tab-part .nav>li>a {
    padding: 10px;
    text-transform: uppercase;
}

.Dashboard-tab-part .nav-tabs>li>a {
    border-radius: 0px;
}

.Dashboard-tab-part .nav-tabs>li>a:hover {
    background: none !important;
}

.Dashboard-tab-part {
    display: block;
}

.Dashboard-tab-part .nav-tabs {
    max-width: auto;
}

.Dashboard-tab-part .nav-tabs>li {
    margin-bottom: 0px;
}

.Dashboard-tab-part .nav-tabs>li>a {
    color: #666666;
    font-size: 14px;
    font-weight: normal;
    border: 0px;
    border-bottom: 2px solid transparent;
}

.Dashboard-tab-part .nav-tabs>li.active>a,
.Dashboard-tab-part .nav-tabs>li.active>a:focus,
.Dashboard-tab-part .nav-tabs>li.active>a:hover {
    color: #004b7e;
    cursor: default;
    background-color: transparent;
    border: 0px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 2px solid #004b7e;
}


/*********************************/

.dashboard-select {
    outline: 0;
    border: 0px;
    border-radius: 3px;
    padding: 8px 10px;
    padding-right: 35px;
    background-image: url(/assets/images/select-bg.png);
    background-position: right 16px;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
}

ul.layout-option {
    margin: 0px;
    padding: 0px;
    text-align: right;
    /*position: absolute;
    right: 0px;
    top: -71px;*/
}

.layout-option:after {
    content: "";
    clear: both;
    height: 0;
    display: block;
}

ul.layout-option li {
    display: inline-block;
    list-style: none;
    padding: 0px 8px 15px 0;
    float: left;
    max-width: 33.3%;
}

ul.layout-option li label {
    color: #000;
    font-size: 14px;
    font-weight: normal;
}


/*********************************************************plugin-box**************************************/

.plugin-slider-container {
    overflow: hidden !important;
    position: relative;
}

#slider-plugin {
    position: relative;
    overflow: hidden;
    float: left;
    /*height:70px;*/
}

#slider-plugin ul {
    margin: 0px;
    padding: 0px;
    position: relative;
}

#slider-plugin ul li {
    list-style: none;
    float: left;
    display: inline-block;
    width: 200px;
}

.PreSliderBtn,
.NextSliderBtn {
    position: absolute;
    top: 31%;
    z-index: 500;
}

.PreSliderBtn button,
.NextSliderBtn button {
    background: none;
    cursor: pointer;
    border: 0px;
    outline: 0;
}

.PreSliderBtn {
    left: -6px;
}

.NextSliderBtn {
    right: -6px;
}

.close {
    position: absolute;
    top: 9px;
    right: 20px;
    cursor: pointer;
    opacity: 1;
    z-index: 200;
    color: #fff!important;
    opacity: .9!important;
    font-weight: 300!important;
}

.plugin-box {
    /*max-width:184px;*/
    /*max-height:69px;*/
    background-color: #fff;
    padding: 5px 19px;
    margin: 0px;
    /*float:left;*/
    position: relative;
}

#add-plugin h3 {
    margin-top: 0!important;
}

.plugin-box p {
    font-size: 13px;
    color: #000;
}

.plugin-box p a {
    text-decoration: none;
    font-size: 11.5px;
    color: #198cdb;
}


/*div[rel='scrollcontent1'] {
    width: 100%;
    height: auto;
}*/


/***********************************************************************/

#gene-search_filter {
    display: none!important;
}

.zoom-box-style {
    background: #FFF;
    padding: 0;
    box-shadow: 0px 0px 3px #000;
    margin-bottom: 20px;
    height: auto;
    min-height: 90%;
    height: auto;
    padding-bottom: 20px;
}

.zoom-box-head {
    position: relative;
    background: #f2f2f2;
    padding: 5px 10px;
    color: #fff;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0;
    min-height: 34px;
    cursor: move;
}

.zoom-box-head:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
}

#close-btn-box-1 {
    display: none;
}


/*.zoom-box-content-area iframe{
        width: calc(100% - 17px);
}*/

.zoom-box-head>ul {
    margin: 0px;
    padding: 0px;
    width: calc(100% - 180px);
    float: left;
}

.zoom-box-head ul li {
    padding: 0px;
    margin: 0px;
    display: block;
    list-style: none;
}

.zoom-box-head ul li h3 {
    color: #22262e;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0;
    padding-top: 7px;
}

.zoom-box-head ul li a {
    color: #004b7e;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
    color: #000;
    padding: 0 1px;
}

.zoom-part {
    position: relative;
    float: right;
    width: 175px;
    text-align: right;
    padding-top: 4px;
}

.zoom-part ul {
    margin: 0px;
    padding: 0px;
    max-width: 100%;
}

.zoom-part ul li {
    padding: 0px;
    margin: 0px;
    display: inline-block;
    list-style: none;
    padding-left: 2px;
    width: auto;
    /*height:17px;*/
    margin: 0px 2px;
    position: relative;
    float: left;
}

.zoom-part ul li img {
    position: relative;
    width: auto;
    cursor: pointer;
    height: 17px;
}

.zoom-box-head ul li button {
    outline: 0px;
    cursor: pointer;
    width: 100%;
    left: 0px;
    top: 0px;
    /*height:17px;*/
    border: 0;
    background: none;
    position: relative;
    color: #333;
}

.zoom-box-head ul li button img {
    position: relative;
    top: 0px;
    left: 0px;
    width: 17px;
    height: 17px;
}

.text-box-area ul {
    margin: 15px 0px;
    padding: 0px;
    ;
}

.text-box-area ul li {
    padding: 0px;
    margin: 0px;
    display: inline-block;
    list-style: none;
    padding-left: 2px;
}

.text-box-area ul li label {
    color: #000;
    font-size: 13px;
    font-weight: bold;
    margin-right: 5px;
}

.text-box-area ul li input {
    padding: 8px;
    border: 1px solid #b7b7b7;
    background: #fff;
    outline: 0;
}

.text-box-bottom-part li {
    width: 100%;
}

.text-box-bottom-part input {
    width: 82.5%;
}

table.health-wellness {
    width: 100%;
    background-color: #fff;
    border: 0px;
}

table.health-wellness tr th,
table.health-wellness tr td {
    padding: 10px 30px;
    border: 0px;
    border-bottom: 1px solid #d7d7d7;
}

table.health-wellness tr:first-child {
    cursor: default;
}

table.health-wellness thead tr:first-child:hover {
    background-color: #fff;
    color: #000;
}

table.health-wellness tr {
    cursor: pointer;
}

table.health-wellness tr:hover {
    background-color: #008fc5;
    color: #fff;
}

table.health-wellness tr:last-child {}

.health_table h3 {
    font-size: 16px;
}

ul.checkbox_list {
    margin: 0px;
    padding: 0px;
    text-align: right;
    position: relative;
    right: 0px;
    top: -50px;
    float: right;
}

ul.checkbox_list li {
    list-style: none;
    display: inline-block;
    padding: 0px;
    margin: 0px 3px;
    vertical-align: middle;
    font-size: 15px;
    position: relative;
}

ul.checkbox_list li input[type="checkbox"]:not(:checked),
ul.checkbox_list li input[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
    margin-right: 10px;
}

ul.checkbox_list li input[type="checkbox"]:not(:checked) + label,
ul.checkbox_list li input[type="checkbox"]:checked + label {
    cursor: pointer;
    background: url(/assets/images/checkbox-bg.png) no-repeat 0px 5px;
    padding-left: 15px;
    font-size: 15px;
    font-weight: normal;
}

ul.checkbox_list li input[type="checkbox"]:checked + label {
    background: url(/assets/images/checkbox-bg.png) no-repeat 0px -23px;
}

.species_here {
    margin-top: -6px;
    float: left;
}

.species {
    float: right;
    margin-top: -55px;
    text-transform: uppercase;
}

.zoom-part i.pe {
    font-size: 20px;
    margin-top: 2px;
}

.zoom-part i.pe.pe-7s-close {
    font-size: 34px;
    padding: 0;
    margin: 0;
    position: absolute;
    margin-top: -5px;
    margin-left: -4px;
    left: 0;
}

.zoom-part ul li.icon-close {
    width: 24px;
}

.setting,
button.setting {
    width: 17px !important;
    height: 18px !important;
    background: url(/assets/images/setting.png) no-repeat !important;
    position: relative;
    top: -6px !important;
    left: 0px;
    font-size: 0px !important;
}

.setting:hover {
    /*background:url(/assets/images/setting-hover.png) no-repeat!important;*/
}


/*.btn-expand
{
    width:17px;
    height:17px;
    background:url(/assets/images/full-scr-icon.png) no-repeat 0 1px;
    position:relative;
    cursor:pointer;
    display: block;
}*/


/*.btn-expand:hover
{
    background:url(/assets/images/full-scr-icon-hover2.png) no-repeat
}*/

.btn-collapse {
    cursor: pointer;
    display: none;
}


/*.btn-collapse:hover
{
     background:url(/assets/images/full-scr-icon-hover.png) no-repeat;
}*/

.btn-move {
    width: 17px;
    height: 17px;
    background: url(/assets/images/move.png) no-repeat;
    position: relative;
    font-size: 0px !important;
    top: 0px;
    left: 7px;
    cursor: pointer;
}

.btn-drag {
    width: 17px;
    height: 17px;
    background: url(/assets/images/drag.png) no-repeat;
    position: relative;
    font-size: 0px !important;
    bottom: 25px;
    right: 16px;
    cursor: pointer;
}


/*.remove-box
{
    width:17px;
    height:17px;
    background:url(/assets/images/close-2.png) no-repeat;
    position:relative;
    cursor:pointer;
        display: block;
}*/


/*.remove-box:hover
{
    background:url(/assets/images/close-2-hover.png) no-repeat;
}*/

.form-group {
    margin-bottom: 5px!important;
}

div#zoom-box-1,
div#zoom-box-2,
div#zoom-box-3,
div#zoom-box-4 {
    padding-top: 20px!important;
}

.text-box-area {
    padding: 15px;
}


/*======= new added =====*/

#add-plugin ul {
    margin: 0;
    padding: 0;
    text-align: left;
}

#add-plugin ul:after {
    content: "";
    height: 0;
    display: block;
    clear: both;
}

#add-plugin li {
    list-style: none;
    float: left;
    margin: 1px 0 0 0px;
    width: 100%;
}

#add-plugin .plugin-box {
    min-height: auto;
    padding: 10px;
    text-align: center;
    width: 100%;
}

#add-plugin .plugin-box .btn {
    margin-top: 10px;
}

#add-plugin .plugin-box p {
    margin: 0;
}

.dashboard-left-panel .panel {
    background-color: transparent;
    border: 0;
}

.dashboard-left-panel .panel-body {
    padding: 0;
    border-color: #000;
}

.dashboard-left-panel .panel-default>.panel-heading {
    background-color: transparent;
    border: none;
}

.dashboard-left-panel ul.gene-list li {
    list-style: none;
}

.dashboard-left-panel .panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
    text-transform: uppercase;
    color: #fff;
    text-shadow: none;
    display: block;
    position: relative;
}

.dashboard-left-panel .panel-title:after {
    content: "\f0dd";
    font-family: fontAwesome;
    text-align: right;
    display: block;
    position: absolute;
    right: 0;
    top: -2px;
}

.dashboard-left-panel .panel-title a {
    display: block;
    text-decoration: none;
}

.dashboard-left-panel .panel-title a:hover {
    color: #333;
}

#footer-dashboard {
    position: fixed;
    bottom: 0;
    background: #00406b;
    width: 100%;
    padding: 10px;
    margin-left: 0px;
    color: #fff;
    z-index: 99;
}

.copyright {
    color: #9bb5c5!important;
}

#footer-dashboard ul {
    margin: 0 10px 0 0;
    padding: 0;
}

#footer-dashboard li {
    list-style: none;
    display: inline-block;
}

#footer-dashboard li a {
    display: block;
    padding: 0px 5px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}

button.multiselect.dropdown-toggle.btn.btn-default {
    min-width: 160px;
    text-align: left;
}

.top-filter {
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 85px;*/
    margin-right: 0px;
    float: right;
}

.top-filter ul {
    margin: 0;
    padding: 0;
}

.top-filter ul li {
    margin: 0;
    padding: 0 10px 0 22px;
    display: inline-block;
    list-style: none;
}

.filter-title {
    font-weight: 600;
    border-bottom: 1px solid #f2f2f2;
}

.checkbox-listing:after {
    content: "";
    clear: both;
    display: block;
}

.checkbox-listing {
    margin-bottom: 10px!important;
    max-height: 280px;
    overflow: auto;
}

.checkbox-listing li {
    width: 100%;
    float: left;
    margin-right: 0!important;
}

.top-filter ul.radio-group li {
    /*padding: 0 10px 0 0px!important;*/
}

.top-filter ul:after {
    content: "";
    height: 0;
    display: block;
    clear: both;
}

.btn-filter i.fa-angle-down {
    margin-left: 7px;
}

.search-bar {
    /*display: none;*/
    position: relative;
    top: -10px;
    right: 80px;
    max-width: 200px;
    z-index: 9999;
    transition: all .2s ease-in;
}


/*body[data-active-tab-cgl="search-result"] .search-bar{
    display: none;
}
body[data-active-tab-cgl="gene-report"] .search-bar{
    display: block;
}*/

.btn-filter,
.btn-search-bar {
    cursor: pointer;
}

.input-group-btn:last-child>.btn,
.input-group-btn:last-child>.btn-group {
    z-index: 2;
    margin-left: -1px;
    background-color: #e6e6e6;
}

.filter-custom {
    position: absolute;
    /*top: 30px;*/
    left: -70%!important;
    right: 0px!important;
    transition: all .2s ease-in;
    background-color: #fff;
    z-index: 9;
    min-width: inherit;
    padding: 15px 0 15px 15px!important;
    box-shadow: 0px 7px 15px 0px #888;
    display: none;
    transition: all .2s ease-in;
    min-width: 250px!important;
    max-width: 400px;
}

.menu-open>.filter-custom {
    display: block!important;
}

.filter-custom .checkbox,
.filter-custom .radio {
    margin-top: 5px;
    margin-bottom: 5px;
}

.filter-custom label {
    font-weight: normal;
}

.option-holder {
    margin-left: 10px;
}

.option-holder.checkboxes {
    margin-left: 0;
}

.searchbar-top {
    float: right;
    margin-top: -1px!important;
    padding: 0!important;
    position: relative;
}

.searchbar-top .btn {
    padding-left: 5px!important;
    padding-right: 5px!important;
}

.search-bar .form-control {
    height: 32px!important;
}

.searchbar-top .search-bar {
    top: 3px;
    margin-right: -42px;
}

.mobile-top-search {
    display: none;
}

.form-control {
    height: 26px;
    border: 1px solid #999!important;
    border-radius: 2px!important;
}

.search-bar>.input-group>input.form-control {
    border: 1px solid #ccc!important;
    box-shadow: none;
}

.form-horizontal .control-label {
    padding-top: 2px!important;
}

.zoom-part .dropdown,
.zoom-part .dropup {
    position: relative;
}

.zoom-part ul.dropdown-menu {
    padding: 5px 0;
    margin-top: 3px;
    margin-left: -80px;
}

.zoom-expanded .zoom-part ul.dropdown-menu {
    margin-left: -130px;
}

.zoom-part ul.dropdown-menu>li {
    display: block;
    width: 100%;
    margin-left: 0;
    height: auto;
}

.zoom-part ul.dropdown-menu>li a {
    padding: 3px 10px;
    text-transform: inherit;
}

.zoom-expanded {
    position: fixed!important;
    height: 100%!important;
    width: 100%!important;
    top: 0!important;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    overflow: auto;
    margin-top: 30px;
}

.zoom-expanded:before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .8);
    z-index: -1;
}

.zoom-expanded .zoom-box-content-area {
    height: auto;
}

.zoom-expanded .zoom-box-style {
    margin-bottom: 65px!important;
    padding-bottom: 20px;
}

#zoom-btn-box-1 {
    margin: 0 5px;
}

.tab-content {
    margin-top: 0px;
}

.button.add-plugin {
    height: 54px;
    width: 54px;
    text-indent: -9999px;
    position: fixed;
    z-index: 1!important;
    right: 10px;
    margin: 15px 0 0;
    cursor: pointer;
    -webkit-transition: background-color .4s cubic-bezier(.175, .885, .32, 1.275), -webkit-transform .2s ease-in-out;
    transition: background-color .4s cubic-bezier(.175, .885, .32, 1.275), transform .2s ease-in-out;
    transition: all .2s ease-in;
}

.button.add-plugin:before {
    content: "";
    position: absolute;
    height: 54px;
    width: 54px;
    background-color: #337ab7;
    border-radius: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .28);
    transition: all .2s ease-in;
}

.button.add-plugin:hover:before {
    background-color: #333;
    transition: all .2s ease-in;
}

.button.add-plugin:after {
    content: "";
    background-position: -5px -5px;
    background-repeat: no-repeat;
    display: block;
    width: 18px;
    height: 18px;
    background-image: url('/assets/images/add-icon.png');
    overflow: visible;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -9px 0 0 -9px;
    transform: scale(.9) rotate(0);
    /*image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: crisp-edges;
    image-rendering: pixelated;*/
}

.button.add-plugin.active {
    right: 225px;
    transition: all .2s ease-in;
    z-index: 999999!important;
}

.button.add-plugin.active:after {
    content: "";
    background-image: url('/assets/images/arrow-icon.png')!important;
}

.page-heading {
    width: calc(100% - 300px);
    float: left;
}

.page-filter {
    width: 280px;
    float: left;
    padding-right: 30px;
}

.page-filter .top-filter {
    margin-top: 10px;
}

.col-sm-6.zoom-box-container {
    padding-right: 10px;
}

.btn {
    padding: 5px 12px!important;
}


/*.dashboard-left-panel .btn{
    border-color: transparent!important;
    border-radius: 4px!important;
}*/

.dashboard-left-panel .btn-default.active,
.dashboard-left-panel .btn-default:active,
.dashboard-left-panel .open>.dropdown-toggle.btn-default {
    color: #fff!important;
    background-color: inherit!important;
    border-color: #adadad;
}

.modal-body {
    background-color: #e5e9ec!important;
}

.modal-header .close {
    margin-top: 0px!important;
}

.modal-header {
    padding: 10px 15px!important;
    border-bottom: 1px solid #e5e5e5;
    background: #337ab7;
    color: #fff;
}

.modal-title {
    margin: 0;
    line-height: 1.42857143;
    text-shadow: none;
    font-size: 16px;
}

.modal-header .searchbar-top {
    margin-top: 0!important;
}

.modal-header .searchbar-top .form-control {
    border: 0px solid #999!important;
    border-radius: 2px!important;
}

.panel-heading {
    padding: 10px 5px 10px 15px;
}

.modal-footer {
    padding: 5px 15px!important;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

.dashboard-left-panel .panel-title:after {
    content: "\f0dd";
    font-family: fontAwesome;
    text-align: right;
    display: block;
    position: absolute;
    right: 15px;
    padding-right: 0;
    top: -2px;
    z-index: 0;
}

.add-plugin {
    z-index: 999!important;
}

.add-plugin-holder {
    position: fixed;
    right: -260px;
    bottom: 0;
    top: 0;
    width: 250px;
    background: #008fc5;
    overflow: auto;
    z-index: 11!important;
    transition: all .2s ease-in;
    padding-bottom: 50px;
    box-shadow: -1px 6px 10px #000;
}

#wid_gene_search_filter {
    padding: 20px!important;
}

.add-plugin-holder.open {
    right: 0;
    transition: all .2s ease-in;
    z-index: 99999!important;
}

.dashboard-left-panel .btn-group {
    padding-left: 15px;
    margin-bottom: 3px;
    /*margin-left: 0;
    width: calc(100% - 0px);
    background: rgba(0,0,0,.3);
    border-radius: 0px!important;
    text-align: center;

    padding-right: 20px;
    padding-top: 1px;
    padding-bottom: 2px;*/
}

.dashboard-left-panel .btn-group .btn-default {
    color: #eee;
    /*background-color: transparent;
    border-color: #ccc;*/
    text-align: left;
}

.select-all {
    padding-left: 22px;
}

.dashboard-left-panel .select-all {
    padding-left: 20px;
}

.select-all label.checkbox {
    /*margin: 10px 0 0 0;*/
}

.btn-search-bar {
    display: none;
}

.checkbox-listing li {
    margin-right: 15px!important;
    float: left;
}

.modal-header {
    padding: 10px 15px;
    border-bottom: 1px solid #e5e5e5;
}

.btn-filter .checkbox strong {
    margin-left: 20px;
}

.selected-layout {
    max-width: 100px;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: -5px;
}

.result-container {
    /*max-width: 100%;*/
    /*overflow: auto;*/
}

.dataTables_scrollHeadInner,
.dataTables_scrollHeadInner .health-wellness {
    width: 100%!important;
}


/*.dashboard-left-panel .btn-panel{
    font-weight: 300;
    color: #fff;
    padding: 2px 15px;
    margin-left: 0;
    border-radius: 0;
    margin-bottom: 4px;
    margin-top: 3px;
    display: inline-block!important;
    border: 1px solid;
    margin: 3px 0;
    text-align: center;
    border-color: rgba(0,0,0,.3);
}*/

.dashboard-left-panel .btn-panel:hover {
    opacity: .8;
}

.btn-group>.btn-panel:first-child {
    margin-left: 0;
    margin-right: 10px;
}

.dashboard-left-panel .dropdown-menu {
    position: absolute;
    top: 90%;
    left: 10px;
    background-color: #04524b;
    color: #fff;
    margin: 2px 0 0 4px;
}

.dashboard-left-panel .dropdown-menu>li>a {
    color: #fff;
}

.dashboard-left-panel .dropdown-menu>li>a:hover,
.dashboard-left-panel .dropdown-menu>li>a:visited {
    background-color: transparent;
    color: #f2f2f2;
}

.dashboard-left-panel .dropdown-menu .divider {
    background-color: rgba(255, 255, 255, .3)!important;
}

.text-right.btn-right-group {
    padding-right: 15px!important;
}

.btn-theme-left-panel {
    font-weight: 700;
    color: #fff;
    padding: 5px 15px!important;
    margin-left: 0;
    background: rgba(0, 0, 0, .3)!important;
    border-radius: 2px!important;
    margin-bottom: 4px;
    margin-top: 3px;
    display: inline-block!important;
    border: none!important;
    margin: 3px 0;
    text-align: center;
    border-color: rgba(0, 0, 0, .3)!important;
}

.icon-import {
    background-image: url('/assets/images/icon-import.png');
    width: 18px;
    height: 18px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    float: left;
    margin-right: 5px;
}

.btn-theme-left-panel:hover {
    background: rgba(0, 0, 0, 0.5)!important;
}

.btn-theme-left-panel .pe {
    margin-right: 5px;
    font-size: 19px!important;
    font-weight: 700!important;
    color: #fff;
    vertical-align: top;
}

input[type=checkbox],
input[type=radio] {
    margin: 1px 0px 0 -20px!important;
}

.select-all input[type=checkbox],
.select-all input[type=radio] {
    margin: 4px 0px 0 -20px!important;
}

.dropdown-menu input[type=checkbox],
.dropdown-menu input[type=radio] {
    margin-left: -20px!important;
    float: left;
    margin-right: 10px!important;
    margin-top: 4px!important;
}

.select-all {
    padding-top: 7px;
    padding-bottom: 7px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    background: rgba(255, 255, 255, .1);
}

.select-all .checkbox,
.select-all .radio {
    margin-top: 0;
    margin-bottom: 0;
}

.light-green.panel-closed {
    margin-top: -8px;
}

.left-panel-heading {
    display: inline-block;
}

.btn-save {
    display: inline-block;
}

@media only screen and (max-width:1360px) {
    .text-box-area ul li input {
        width: 100%;
    }
    .text-box-area ul li {
        width: 100%;
        padding-left: 0px;
        margin-bottom: 5px;
    }
    .text-box-area ul li label {
        width: 17%;
    }
    .text-box-bottom-part {
        margin-top: 0px !important;
    }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
    .search-bar {
        max-width: 142px;
    }
}

@media (max-width: 640px) {
    .searchbar-top {
        /*margin-top: -33px!important;*/
    }
    .selected-layout {
        max-width: 100%;
    }
}

@media (max-width: 580px) {
    .Dashboard-tab-part .nav-tabs>li>a,
    .Dashboard-tab-part .nav-tabs>li.active>a,
    .Dashboard-tab-part .nav-tabs>li.active>a:focus,
    .Dashboard-tab-part .nav-tabs>li.active>a:hover {
        font-size: 13px;
        padding: 10px 10px;
    }
    .top-filter {
        position: relative;
        top: 0;
        right: 0;
        margin-top: -7px;
        margin-bottom: 14px;
        text-align: right;
    }
    .search-bar {
        /* position: absolute;
        top: -10px;
        right: 80px;
        min-width: 200px;*/
    }
    .page-heading {
        width: 100%;
        float: left;
        text-align: center;
    }
    .page-filter {
        width: calc(100% - 5px);
        padding-right: 0;
    }
    .grid-stack > .grid-stack-item > .grid-stack-item-content {
        margin: 0!important;
    }
    .zoom-expanded .grid-stack-item-content.zoom-box-style {
        margin-bottom: 50px!important;
    }
    .filter-custom {
        left: 0!important;
        min-width: 100%!important;
    }
    .btn-filter {
        padding: 8px 0;
    }
    .filter-custom .btn {
        margin-right: 15px!important;
    }
    .page-filter .top-filter {
        margin-top: 0;
        margin-bottom: 0;
        background: #fff;
        width: 100%;
        margin-right: 0px;
        text-align: right;
        border-radius: 3px;
        border: 1px solid #ccc;
        margin-bottom: 10px;
    }
    .top-filter ul li {
        margin: 0;
        padding: 0 10px 0 20px;
        display: block;
        list-style: none;
        text-align: center;
    }
    .filter-custom li {
        text-align: left!important;
    }
    .option-holder {
        margin-left: 20px;
    }
    .option-holder.checkboxes {
        margin-left: 20px;
    }
    .modal-header .searchbar-top {
        margin-top: 0!important;
        width: 100%;
        text-align: center;
    }
    .modal-header .modal-title {
        text-align: center;
    }
    .modal-header .search-bar {
        position: absolute;
        top: -10px;
        right: -40px;
        min-width: 200px;
    }
    .btn-search-bar {
        display: block;
        float: right;
        position: absolute;
        top: 0;
        margin-top: 8px;
    }
    .search-bar {
        left: auto!important;
        padding: 8px 8px 0 15px;
        background: #fff;
        right: 0px;
        width: 100%;
        display: none;
        position: absolute;
        width: 330px;
        margin-top: -9px;
    }
    /*.btn-search-bar{
        display: none;
    }*/
    /*body[data-active-tab-cgl="search-result"] .btn-search-bar{
        display: none;
    }
    body[data-active-tab-cgl="gene-report"] .btn-search-bar{
        display: block;
    }
    body[data-active-tab-cgl="gene-report"] .search-bar{
        display: none;
    }*/
}
