<div class="dashboard">
    <div class="dashboard-inner">
        <div class="dashboard-top-menu">
            <div class="dashboard-top-toggle">
                <div class="top-toggle">
                    <button class="top-toggle-btn" id="hide-menu"><i class="fa fa-bars"></i></button>
                    <button class="top-toggle-btn" id="show-menu"><i class="fa fa-bars"></i></button>
                </div>
            </div>
            <div class="dashboard-logo text-center">
                <a href="/"><img src="/assets/images/dashboard-logo.png"></a>
            </div>
            <div class="dashboard-top-right">
                <div class="text-right user-toggle">
                    <button class="top-toggle-btn" id="user-toggle-menu" (click)="slideToggle()">Menu <i class="fa fa-bars"></i> </button>
                </div>
                <ul class="nav-desktop">
                    <li><a href="/mystuff">My Stuff</a></li>
                    <li><a href="/plugins">Plugins</a></li>
                    <li><a href="/datasets">Datasets</a></li>
                    <li class="user-status">
                        <div class="dropdown">
                            <div (click)="slideDropDown($event)" class="btn-filter dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Hi Michael <i class="author-icon"><img src="/assets/images/user-image.png"></i><i><img src="/assets/images/drop-select.png"></i>
                                <ul class="dropdown-menu" [style.display]="displayProfile">
                                    <li><a href="/profile">Profile</a></li>
                                    <li><a href="/signout">Sign Out</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="searchbar-top">
                        <div class="search-bar">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Quick Gene Search">
                                <span class="input-group-btn">
                                                                            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                                                                          </span>
                            </div>
                            <!-- /input-group -->
                        </div>
                    </li>
                </ul>
            </div>
            <div class="mobile-top-search">
                <div class="searchbar-top">
                    <span class="btn-search-bar"><i class="fa fa-search"></i></span>
                    <div class="search-bar">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Quick Gene Search">
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                        <!-- /input-group -->
                    </div>
                </div>
            </div>
        </div>
        <div rel='scrollcontent5' class="dashboard-left-panel">
            <div class="light-blue">
                <h3 class="text-center">Current Gene List</h3>
                <ul class="icon-menu">
                    <li>
                        <a href="#" data-toggle="modal" class="btn-save btn-theme-left-panel" data-target="#save-gene-popup">
                            <i class="fa fa-save"></i> &nbsp;<span>Save</span>
                        </a>
                    </li>
                </ul>
                <div class="gene-list-container">
                    <div class="select-all">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" class="select_GeneList"> All (<span class="gene-list-count">{{currentGeneList.length }}</span>)
                            </label>
                        </div>
                    </div>
                    <ul class="gene-list first-gene">
                        <li *ngFor="let cgl of currentGeneList">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="checkbox-genelist">{{cgl}}
                                </label>
                                <span class="action-menu">
                                    <button type="button" class="btn btn-nostyle"><i class="fa fa-close btn-close"></i></button>
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="light-green">
                <a href="#" class="panel-savedlist"><h3 class="text-center">Saved Gene Lists <i class="fa fa-chevron-down btn-collapsible"></i></h3></a>
                <div class="panel-saved-content">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default dropdown-toggle btn-theme-left-panel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="icon-import"></i> Load
                            <span class="caret"></span>
                        </button>
                        <button type="button" class="btn btn-default btn-theme-left-panel"><i class="fa fa-file-text"></i> Export</button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Union</a></li>
                            <li><a href="#">Intersection</a></li>
                            <li class="divider"></li>
                            <li>
                                <input type="checkbox"> Apend Genes</li>
                        </ul>
                    </div>
                    <div class="gene-list-container">
                        <div class="select-all">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="select_GeneList"> All (<span class="gene-list-count">0</span>)
                                </label>
                            </div>
                        </div>
                        <ul class="gene-list saved-gene-list">
                            <span>Available after logging in.</span>
                            <!-- <li>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> Cloning (1)
                                    </label>
                                    <span class="action-menu">
                                                <button type="button" class="btn btn-nostyle"><i class="fa fa-pencil"></i></button>
                                                <button type="button" class="btn btn-nostyle"><i class="fa fa-close btn-close"></i></button>
                                            </span>
                                </div>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <br>
            <br>
            <br>
        </div>
        <div class="dashboard-right-panel" rel='scrollcontent6'>
            <!-- add plugin -->
            <!-- <a class="button add-plugin"  data-toggle="modal" data-target="#addPlugins">Add Plugins</a> -->
            <a class="button add-plugin">Add Plugins</a>
            <!-- add plugin -->
            <div id="add-plugin" class="add-plugin-holder">
                <div>
                    <ul>
                        <li>
                            <div id="wid_gene_search_filter" class="dataTables_filter">
                                <label>
                                    <input type="search" class="form-control input-sm" placeholder="Search" aria-controls="gene-search">
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="plugin-box">
                                <p>1Gene expression/ activity chart
                                    <br>
                                    <a href="#">ds.biogps.org</a>
                                </p>
                                <button class="btn btn-primary"> Add Plugin</button>
                            </div>
                        </li>
                        <li>
                            <div class="plugin-box">
                                <p>2Gene expression/ activity chart
                                    <br>
                                    <a href="#">ds.biogps.org</a>
                                </p>
                                <button class="btn btn-primary"> Add Plugin</button>
                            </div>
                        </li>
                        <li>
                            <div class="plugin-box">
                                <p>3Gene expression/ activity chart
                                    <br>
                                    <a href="#">ds.biogps.org</a>
                                </p>
                                <button class="btn btn-primary"> Add Plugin</button>
                            </div>
                        </li>
                        <li>
                            <div class="plugin-box">
                                <p>4Gene expression/ activity chart
                                    <br>
                                    <a href="#">ds.biogps.org</a>
                                </p>
                                <button class="btn btn-primary"> Add Plugin</button>
                            </div>
                        </li>
                        <li>
                            <div class="plugin-box">
                                <p>5Gene expression/ activity chart
                                    <br>
                                    <a href="#">ds.biogps.org</a>
                                </p>
                                <button class="btn btn-primary"> Add Plugin</button>
                            </div>
                        </li>
                        <li>
                            <div class="plugin-box">
                                <p>6Gene expression/ activity chart
                                    <br>
                                    <a href="#">ds.biogps.org</a>
                                </p>
                                <button class="btn btn-primary"> Add Plugin</button>
                            </div>
                        </li>
                        <li>
                            <div class="plugin-box">
                                <p>7Gene expression/ activity chart
                                    <br>
                                    <a href="#">ds.biogps.org</a>
                                </p>
                                <button class="btn btn-primary"> Add Plugin</button>
                            </div>
                        </li>
                        <li>
                            <div class="plugin-box">
                                <p>8Gene expression/ activity chart
                                    <br>
                                    <a href="#">ds.biogps.org</a>
                                </p>
                                <button class="btn btn-primary"> Add Plugin</button>
                            </div>
                        </li>
                        <li>
                            <div class="plugin-box">
                                <p>9Gene expression/ activity chart
                                    <br>
                                    <a href="#">ds.biogps.org</a>
                                </p>
                                <button class="btn btn-primary"> Add Plugin</button>
                            </div>
                        </li>
                        <li>
                            <div class="plugin-box">
                                <p>10Gene expression/ activity chart
                                    <br>
                                    <a href="#">ds.biogps.org</a>
                                </p>
                                <button class="btn btn-primary"> Add Plugin</button>
                            </div>
                        </li>
                        <li>
                            <div class="plugin-box">
                                <p>11Gene expression/ activity chart
                                    <br>
                                    <a href="#">ds.biogps.org</a>
                                </p>
                                <button class="btn btn-primary"> Add Plugin</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="dashbord-content">
                <div class="Dashboard-tab-part">
                    <div class="col-sm-12">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#search-result"><i class="fa fa-search"></i>  Search Result</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-12">
                        <div class="tab-content">
                            <div id="search-result" class="tab-pane fade in active">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="page-heading">
                                            <h4>Your query  for {{query}}</h4>
                                        </div>
                                        <div class="page-filter">
                                            <div class="top-filter">
                                                <ul>
                                                    <li>
                                                        <div class="dropdown">
                                                            <div (click)="showSpecies = !showSpecies " class="btn-filter dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select Species <i class="fa fa-angle-down"></i></div>
                                                            <div [style.display]="getStyle()" class="dropdown-menu filter-custom" aria-labelledby="dropdownMenu2">
                                                                <div class="filter-title">Filter query results by species:</div>
                                                                <div class="select-all">
                                                                    <label class="checkbox">
                                                                        <input (change)="changeCheckBox($event)" type="checkbox" value="all"> <strong>Select All</strong>
                                                                    </label>
                                                                </div>
                                                                <ul class="checkbox-listing radio-group" type="0">
                                                                    <li *ngFor="let specie of species">
                                                                        <label class="checkbox">
                                                                            <input (change)="changeCheckBox($event)" type="checkbox" class="checkbox-species" value="{{specie}}">{{ specie }}
                                                                        </label>
                                                                    </li>
                                                                </ul>
                                                                <p>Don't see your species listed? <a href="#">Customized your species.</a></p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 result-container">
                                        <ng-table [config]="config.sorting" (tableChanged)="onChangeTable(config)" [rows]="rows" [columns]="columns">
                                        </ng-table>
                                        <pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable(config, $event)" (numPages)="numPages = $event">
                                        </pagination>
                                        <pre *ngIf="config.paging" class="card card-block card-header">Page: {{page}} / {{numPages}}</pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-bottom-manu">
            <div class="dashboard-bottom-left">
            </div>
            <div class="dashboard-bottom-menu">
            </div>
        </div>
    </div>
</div>
<footer id="footer-dashboard">
    <div class="row">
        <div class="col-xxs col-xs-7 col-sm-8">
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="../help.html">Help</a></li>
                <li><a href="../about.html">About</a></li>
                <li><a href="../contact.html">Contact</a></li>
                <li><a href="../blog.html">Blog</a></li>
            </ul>
        </div>
        <div class="col-xxs col-xs-5 col-sm-4 text-right">
            <span class="copyright">Copyright &copy; 2016 All rights reserved.</span>
        </div>
    </div>
</footer>
<div class="modal fade bs-example-modal-sm" id="save-gene-popup" tabindex="-1" role="dialog">
    <div class="modal-dialog smaller-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Save Selected Gene (1)</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="geneName">Name your Gene List</label>
                        <input type="text" class="form-control" id="geneName" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="geneName" class="control-label">Description</label>
                        <textarea class="form-control" style="height: 50px"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div class="modal fade bs-example-modal-sm" id="alert-popup" tabindex="-1" role="dialog">
    <div class="modal-dialog smaller-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Message Alert!</h4>
            </div>
            <div class="modal-body">
                <p>Your layout is saved!</p>
            </div>
            <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div class="modal fade bs-example-modal-sm" id="addPlugins" tabindex="-1" role="dialog">
    <div class="modal-dialog xxl-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="row">
                    <div class="col-sm-7">
                        <h4 class="modal-title">Select Plugin to add</h4></div>
                    <div class="col-sm-4">
                        <div class="searchbar-top">
                            <span class="btn-search-bar"> Search Plugins &nbsp;&nbsp;&nbsp; <i class="fa fa-search"></i></span>
                            <div class="search-bar">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Quick Gene Search">
                                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                      </span>
                                </div>
                                <!-- /input-group -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div id="add-plugin">
                    <div>
                        <ul>
                            <li>
                                <div class="plugin-box">
                                    <p>1Gene expression/ activity chart
                                        <br>
                                        <a href="#">ds.biogps.org</a>
                                    </p>
                                    <button class="btn btn-primary"> Add Plugin</button>
                                </div>
                            </li>
                            <li>
                                <div class="plugin-box">
                                    <p>2Gene expression/ activity chart
                                        <br>
                                        <a href="#">ds.biogps.org</a>
                                    </p>
                                    <button class="btn btn-primary"> Add Plugin</button>
                                </div>
                            </li>
                            <li>
                                <div class="plugin-box">
                                    <p>3Gene expression/ activity chart
                                        <br>
                                        <a href="#">ds.biogps.org</a>
                                    </p>
                                    <button class="btn btn-primary"> Add Plugin</button>
                                </div>
                            </li>
                            <li>
                                <div class="plugin-box">
                                    <p>4Gene expression/ activity chart
                                        <br>
                                        <a href="#">ds.biogps.org</a>
                                    </p>
                                    <button class="btn btn-primary"> Add Plugin</button>
                                </div>
                            </li>
                            <li>
                                <div class="plugin-box">
                                    <p>5Gene expression/ activity chart
                                        <br>
                                        <a href="#">ds.biogps.org</a>
                                    </p>
                                    <button class="btn btn-primary"> Add Plugin</button>
                                </div>
                            </li>
                            <li>
                                <div class="plugin-box">
                                    <p>6Gene expression/ activity chart
                                        <br>
                                        <a href="#">ds.biogps.org</a>
                                    </p>
                                    <button class="btn btn-primary"> Add Plugin</button>
                                </div>
                            </li>
                            <li>
                                <div class="plugin-box">
                                    <p>7Gene expression/ activity chart
                                        <br>
                                        <a href="#">ds.biogps.org</a>
                                    </p>
                                    <button class="btn btn-primary"> Add Plugin</button>
                                </div>
                            </li>
                            <li>
                                <div class="plugin-box">
                                    <p>8Gene expression/ activity chart
                                        <br>
                                        <a href="#">ds.biogps.org</a>
                                    </p>
                                    <button class="btn btn-primary"> Add Plugin</button>
                                </div>
                            </li>
                            <li>
                                <div class="plugin-box">
                                    <p>9Gene expression/ activity chart
                                        <br>
                                        <a href="#">ds.biogps.org</a>
                                    </p>
                                    <button class="btn btn-primary"> Add Plugin</button>
                                </div>
                            </li>
                            <li>
                                <div class="plugin-box">
                                    <p>10Gene expression/ activity chart
                                        <br>
                                        <a href="#">ds.biogps.org</a>
                                    </p>
                                    <button class="btn btn-primary"> Add Plugin</button>
                                </div>
                            </li>
                            <li>
                                <div class="plugin-box">
                                    <p>11Gene expression/ activity chart
                                        <br>
                                        <a href="#">ds.biogps.org</a>
                                    </p>
                                    <button class="btn btn-primary"> Add Plugin</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
