@media only screen and (max-width:1360px) {
    .dashboard-left-panel {
        /*margin-left:-258px;*/
    }
    .dashboard-right-panel {
        /*margin-left: 258px;*/
    }
    ul.layout-option {
        margin: 0px;
        padding: 0px;
        text-align: left;
        position: relative;
        right: 0px;
        top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    ul.checkbox_list {
        margin: 0px;
        padding: 0px;
        text-align: left;
        position: relative;
        right: 0px;
        top: 0px;
        margin-top: 15px;
        float: none;
    }
}

@media only screen and (max-width:1096px) {
    .top-filter {
        right: 55px;
    }
    .Dashboard-tab-part .col-sm-6,
    .Dashboard-tab-part .col-sm-3,
    .Dashboard-tab-part .col-sm-4,
    .Dashboard-tab-part .col-sm-7,
    .Dashboard-tab-part .col-sm-5 {
        /*width:100% !important;*/
        text-align: left !important;
    }
    .add_plugin {
        margin-top: 20px;
    }
    .col-sm-6.zoom-box-container {
        padding-right: 0px;
    }
    .col-sm-12.result-container {
        padding-right: 0;
    }
}

@media (max-width: 992px) {
    #gene-search_wrapper .col-sm-6 {
        width: 50%!important;
    }
}

@media (max-width:870px) {
    table.health-wellness tr th,
    table.health-wellness tr td {
        padding: 10px 15px
    }
}

@media (max-width: 843px) {
    .dashboard-left-panel {
        margin-left: 0;
    }
    .dashboard-right-panel {
        margin-left: 258px;
    }
    #hide-menu {
        display: block;
    }
    #show-menu {
        display: none;
    }
}

@media (max-width:842px) {
    /*.dashboard-right-panel
	{
		width:100% !important;
	}*/
    .dashbord-content {
        width: 100%;
    }
    .dashboard-left-panel {
        margin-left: -258px;
    }
    .dashboard-right-panel {
        margin-left: 0;
    }
    .dashboard-top-right ul li {
        padding: 0px 10px 0 0;
    }
    #hide-menu {
        display: none;
    }
    #show-menu {
        display: block;
    }
}

@media (max-width:780px) {
    .dashboard-top-right {
        max-width: auto;
        width: auto;
        float: right;
        min-width: auto;
    }
    .dashboard-top-right ul {
        background: #fff;
        display: none;
        position: absolute;
        z-index: 4000;
        width: 180px;
        top: 36px;
        right: 1px;
        border-radius: 5px;
        box-shadow: 0px 7px 10px #000;
        margin-right: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .dashboard-top-right ul li {
        display: block;
        border-bottom: 1px solid #ccc;
        padding: 3px 20px;
    }
    .dashboard-top-right ul ul {
        margin-left: -20px;
        position: relative !important;
        border-radius: 0px;
        box-shadow: 0px 0px 0px #000 !important;
        top: 0px !important;
    }
    .dashboard-top-right ul li {
        display: block;
        width: 100%;
        padding: 6px 20px;
    }
    .dashboard-top-right ul li a:hover {
        border-bottom: none;
    }
    .user-toggle {
        display: block;
        /*position:fixed;*/
        right: 0;
        /*top:8px;
		right:15px;*/
    }
    .searchbar-top {
        /*display: none!important;*/
    }
    .searchbar-top .search-bar {
        top: 3px;
        margin-right: 5px;
        left: 15px;
        /*display: block;*/
    }
    .nav-desktop .searchbar-top {
        display: none;
    }
    .mobile-top-search {
        display: block!important;
        margin-right: 120px;
    }
    .dashboard-top-right ul li ul li:last-child {
        border-bottom: none;
    }
    .grid-stack-item.zoom-expanded {
        position: fixed!important;
        height: 100%!important;
        width: 100%!important;
        top: 0!important;
        left: 0!important;
        right: 0!important;
        bottom: 0;
        z-index: 9999999;
        overflow: auto;
        margin-top: 0px;
    }
    .dashboard-top-right ul li ul {
        left: 0!important;
        border: none;
    }
    .dashboard-top-right ul li a {
        padding-top: 0;
    }
}

@media (max-width: 768px) {
    .species {
        float: left;
        margin-top: 0;
        margin-bottom: 15px;
        clear: left;
        width: 100%;
    }
    .dashboard-top-right {
        float: right;
    }
    .top-filter ul {
        text-align: left;
    }
    /*.user-status ul>li {
	    border: 0!important;
	}*/
    .h4,
    h4 {
        font-size: 14px;
    }
    .top-filter {
        right: 0;
        margin-top: 0;
    }
    .dashboard-right-panel {
        margin-left: 0px !important;
    }
    .dashboard-left-panel {
        position: fixed !important;
        z-index: 999;
    }
    .add-plugin-holder {
        width: 180px;
    }
    .button.add-plugin.active {
        right: 150px;
    }
    .page-heading h4 {
        font-size: 13px;
    }
    .Dashboard-tab-part .col-sm-6,
    .Dashboard-tab-part .col-sm-3,
    .Dashboard-tab-part .col-sm-4,
    .Dashboard-tab-part .col-sm-7,
    .Dashboard-tab-part .col-sm-5 {
        width: 100% !important;
        text-align: left !important;
    }
    #footer-dashboard {
        text-align: center;
        position: relative;
        z-index: 0;
    }
}

@media (max-width: 580px) {
    .col-xxs {
        width: 100%!mportant;
    }
    ul.layout-option li {
        max-width: 100%;
        text-align: center;
    }
    .dashboard-logo img {
        max-height: 35px;
        max-width: 78px;
        margin-top: 5px;
    }
    .dashboard-logo {
        max-width: 100px;
        min-width: 100px;
        display: inline-block;
    }
    ul.gene-list.saved-gene-list {
        max-height: 100%;
        overflow: auto;
        height: 120px;
    }
}

@media only screen and (max-width:477px) {
    .dashboard-logo {
        max-width: 110px;
        min-width: 110px;
        display: inline-block;
    }
    .Dashboard-tab-part h3 {
        font-size: 18px !important;
    }
    table.health-wellness tr th,
    table.health-wellness tr td {
        padding: 10px 4px;
        /*font-size:10px;*/
    }
    .zoom-box-head ul li h3 {
        font-size: 14px !important;
    }
    .zoom-box-head ul {
        margin: 0px;
        padding: 0px;
        max-width: 100%;
    }
    .zoom-box-head>ul {
        min-width: 100%;
        text-align: center;
    }
    .zoom-part {
        position: relative;
        right: -3px;
        top: 3px;
        width: 175px;
    }
    #slider-plugin ul li {
        width: 120px;
    }
    .plugin-box p {
        font-size: 10px;
    }
    .plugin-box p a {
        font-size: 10px;
    }
    .plugin-box {
        /*max-width: 134px; */
        max-height: 100%;
        background-color: #fff;
        padding: 5px 11px;
        margin: 0;
        float: left;
        position: relative;
    }
    footer .col-xxs {
        width: 100%!important;
    }
    footer .copyright {
        font-size: 12px;
    }
}
